<table class="table table-bordered">
    <thead>
        <tr>
            <td>Project Name</td>
            <td>Project Description</td>
            <td>Actions</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.ProjectName }}</td>
            <td>{{ project.ProjectDescription }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a [routerLink]="['/edit', project._id]" type="button" class="btn btn-secondary">Edit</a>
                    <button (click)="deleteProject(project._id)" type="button" class="btn btn-secondary">Cancel</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>